<nav class="navbar">
  <div class="nav-container">
    <a href="{{ "/" | relative_url }}" class="nav-logo">
      <span class="logo-text">ADAY</span>
    </a>
    <ul class="nav-menu">
      <li><a href="{{ "/" | relative_url }}" class="nav-link">Home</a></li>
      <li><a href="{{ "/projects/" | relative_url }}" class="nav-link">Projects</a></li>
      <li><a href="{{ "/blog/" | relative_url }}" class="nav-link">Blog</a></li>
      <li><a href="{{ "/writeups/" | relative_url }}" class="nav-link">Writeups</a></li>
      <li><a href="{{ "/certifications/" | relative_url }}" class="nav-link">Certifications</a></li>
      <li><a href="{{ "/announcements/" | relative_url }}" class="nav-link">Announcements</a></li>
    </ul>
  </div>
</nav>
